----- [BACKGROUNDS CORES] -----

/* BLACK TRANSPARENT 75 OPACITY */
 #room .app-right {
    background: rgba(0,0,0,.75);
}

/* BLACK TRANSPARENT 50 OPACITY */
#room-settings-menu {
  	background: rgba(0,0,0,.5);
}

/* BLACK TRANSPARENT 30 OPACITY */
#chat .cm:nth-child(2n+1) {
    background-color: rgba(0,0,0,.3);
}

----- [BACKGROUNDS TRANSPARENTES] -----

#app-menu,
#app-menu.open .list,
#waitlist .list .user,
#user-view .jspContainer,
.user-content.profile .points .subscribe-button {
	background: transparent;
}
------ [FUNDO DA SALA] ------

.left-side-wrapper { background-position-x: center !important; background-position-y: bottom !important;
background-repeat: no-repeat !important; background-size: 1600px 900px !important;
max-height: 900px !important; background-image: url(https://i.imgur.com/4ezjGSO.jpg) !important;
} 
