@import url('https://rawgit.com/meninaveneno/bondade20/master/Chat-Color.css');
@import url('https://rawgit.com/meninaveneno/bondade20/master/patentes.css');
@import url('https://rawgit.com/meninaveneno/RolezeirosDoPlug/master/usuarios.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/chat-color.css');
@import url('https://rawgit.com/meninaveneno/bondade20/master/background.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/colors.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/CoresStatusPerfil.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/chat.css');
@import url('https://rawgit.com/meninaveneno/bondade20/master/descricao.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/adicionais.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/user-meta.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/Adicionais2.css');
@import url('https://rawgit.com/meninaveneno/bondade20/master/logo.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/header-panel-invisivel.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/adicional3.css');

.left-side-wrapper { background-position-x: center !important; background-position-y: bottom !important;
background-repeat: no-repeat !important; background-size: 1200px 600px !important;
max-height: 900px !important; background-image: url(http://getwallpapers.com/wallpaper/full/f/4/d/1108799-beautiful-blackpink-wallpapers-1920x1080.jpg) !important;
}   

/* KR [너의 길은 너의 것이다] BR Customização

Editado por Nana

*/


/* Version: 1.0.1 */
