/*Lista das salas*/
.communities .grid .cell .bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 43px;
    background: rgba(0, 0, 0, 0.5);}
.communities .grid .cell {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 15px 15px 0;
    width: 250px;
    height: 300px;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;}
.communities .grid .cell:hover>.meta {
    margin-top: 43px;
    height: 257px;
    background: rgba(40, 40, 40, 0.7);
    transition: all .15s ease-out;}
.communities .grid .cell:hover>.meta .join {
    bottom: -80px !important;
    transition: all .15s ease-out;
}
.communities .grid .cell .favorite {
    top: 0;
    right: 0;
    width: 43px;
    height: 43px;
    background: rgba(218, 165, 32, 0);}
.communities .grid .cell .meta {
    position: relative;
    z-index: 2;
    margin-top: 186px;
    width: 100%;
    height: 90px;
    background: rgba(0, 0, 0, 0.5);
    transition: all .25s ease-in;}
.communities .grid .cell .meta .join {
    border-radius: 10px;
    border: 1px solid rgba(218, 165, 32, 0.63);
    background: rgb(0, 0, 0);}
.communities .grid .cell .meta .join:hover {
    background: linear-gradient(hsl(40, 61%, 53%), hsla(42, 62%, 21%, 0.95));}
.grid .cell .bar, .grid .cell .meta {
background: linear-gradient(hsla(0, 0%, 0%, 0.94), hsla(0, 0%, 0%, 0.94)) !important;}
#chat .welcome {
    color: #daa520;}
.grid .cell .top .expires span {
	color: hsl(30,100%,50%) !important;}
.user-content.communities .grid .cell, .grid .cell {
    background: radial-gradient(hsl(0, 0%, 0%), hsl(0, 0%, 0%)) !important;}
.grid .cell .meta .host {
	text-align: center !important;
	top: 6px !important;
	color: #eee !important;}



/* Bordas */
#search-bar,
.app-right .friends .list-header .input-background,
#user-lists .list-header .input-background,
#dashboard .search,
#rcs-menu .search,
#filter-bar,
#user-friends .search {
    -webkit-box-shadow: inset 0 0 0 1px #daa520 !important;
    -moz-box-shadow: inset 0 0 0 1px #daa520 !important;
    box-shadow: inset 0 0 0 1px #daa520 !important;}


/* Bordas Redondas */
#search-bar,
#filter-bar,
#user-lists .list-header .input-background,
.app-right .friends .list-header .input-background,
#rcs-menu .search,
#dashboard .search,
#user-friends .search,
#search-menu {
    border-radius: 8px;}
    
    /* Barra Mouse */
::-webkit-scrollbar-thumb {
    background: rgba(218, 165, 32, 0.75) !important;
    border-radius: 2px;}
.jspDrag:hover,
.jspTrack .jspActive,
.jspTrack .jspHover {
    background: rgba(218, 165, 32, 0.75) !important;}
.jspDrag {
    background: rgba(218, 165, 32, 0.75);
    -webkit-box-shadow: inset 0 0 0 1px rgba(218, 165, 32, 0.45);
    -moz-box-shadow: inset 0 0 0 1px rgba(218, 165, 32, 0.45);
    box-shadow: inset 0 0 0 1px rgba(218, 165, 32, 0.45);
    border-radius: 2px;}
    
    /* Menu niveis */
.experience .levels .level .label {
    background: linear-gradient(hsla(0, 14%, 11%, 0.78), hsla(0, 9%, 7%, 0.99));}
.experience .levels .level {
    background: linear-gradient(hsla(0, 12%, 24%, 0.72), hsla(255, 9%, 5%, 0.58));}
.experience .levels .level.mystery .label {
    background: linear-gradient(hsla(40, 68%, 24%, 0.92), hsla(40, 78%, 15%, 0.91));}
div.level.earned.ep .label {
    background: rgba(218, 165, 32, 1) !important;}
    
    
/* Interface */
#footer-user .info {
    background: rgba(0, 0, 0, 0.7);}
.tab-menu button.selected {
    background: linear-gradient(hsl(40, 61%, 54%), hsl(40, 59%, 31%)) !important;}
.tab-menu button:hover {
    background: linear-gradient(hsla(40, 53%, 36%, 1), hsl(40, 59%, 31%));}
.tab-menu button {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;}
#rcs-progress-container {
    background-color: #453706 !important;}
#rcs-progress-container .bar {
    background: linear-gradient(hsl(40, 65%, 56%), hsla(42, 62%, 30%, 0.95)) !important;}
#playlist-menu .menu .row .count {
    color: #000000;}
#user-view {
    background: rgba(0, 0, 0, 0.8) !important;}
#user-menu {
    background: rgba(0, 0, 0, 0) !important;}
#rs-skip-button {
    background: rgba(0, 0, 0, 0) !important;}
#history-button {
    background: rgba(0, 0, 0, 0) !important;}
#vote .top {
    background: rgba(0, 0, 0, 0.4) !important;}

}
