/* User Meta */

#user-rollover {
	background:rgba(0,0,0,0.6);
	border-radius:10px 10px 0 0;
}

#user-rollover.is-staff .username {
  color: #e5b949 !important;
}

#user-rollover .info {
	background:rgba(229, 185, 73,0.2);
}

#user-rollover.is-staff .info .role span {
color: !important;
}

#user-rollover.is-staff .thumb, #waitlist .is-staff .thumb {
	border-color:#e5b949 !important;
}

#user-rollover .actions .action {
	transition:0.5s !important;
	box-shadow:none;
}

#user-rollover .actions .action:hover {
	background:none;
}

#user-rollover .actions .giftsub:hover {
	box-shadow:inset 0 0 0 1px #c59840, inset 0 0 40px #000;
	background:none;
}

#user-rollover .actions .skip:hover,
#user-rollover .actions .mention:hover,
#user-rollover .actions .gift:hover,
#user-rollover .actions .friend:hover,
#user-rollover .actions .mod-dj:hover {
	box-shadow:inset 0 -1px 0 #fff, inset 0 0 40px #000 !important;
}

#user-rollover .actions .ignore:hover,
#user-rollover .actions .mod-mute:hover,
#user-rollover .actions .mod-ban:hover {
	box-shadow:inset 0 -1px 0 #bf9a3f, inset 0 0 40px #000 !important;
}

#user-rollover .actions .mod-staff:hover {
	box-shadow:inset 0 -1px 0 #1CA949, inset 0 0 40px #000 !important;
}
